<!--navbar starts-->
		<nav class="navbar primary-background-color">
		  
			
                
                    <li>
                        <a class="active" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
                    </li>
                     <li>
                        <a class="active" routerLink="/admin/location" routerLinkActive="active">Location</a>
                    </li>
									
                    
             
		
		
		
		</nav>
	<!--navbar ends-->